@import 'bastianparedes/styles/_breakpoints';

.projectsContainer {
  width: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  padding-bottom: 10rem;
  margin: auto;
}

@include phone-and-tablet {
  .projectsContainer {
    gap: 5rem;
    padding-bottom: 5rem;
  }
}

@include phone {
  .projectsContainer {
    gap: 2rem;
    padding-bottom: 2rem;
  }
}
