.link {
  width: 100%;
  margin: 2rem 0;
  font-size: 2rem;
  text-align: center;
}

.link__a {
  width: 100%;
  position: relative;
  text-align: center;
  display: flex;
  text-decoration: none;
  color: inherit;
  transition: all ease 0.2s;

  &:hover {
    bottom: 0.2rem;
    color: rgb(0, 255, 255);
  }
}

@media screen and (max-width: 768px) {
  .link {
    margin: 0;
    text-align: center;
    font-size: 4rem;
  }
}

@media screen and (max-width: 480px) {
  .link {
    margin: 0;
    text-align: center;
    font-size: 3rem;
  }
}
