.imageContainer,
.image {
  grid-column: 6 / -1;
}

.projectName {
  grid-column: 1 / 6;
  text-align: left;
}

.projectDescriptionContainer {
  grid-column: 1 / 9;
}

.projectTechnologies {
  grid-column: 1 / 6;
  text-align: left;
}

.linksContainer {
  grid-column: 1 / 3;
}

@media screen and (max-width: 768px) {
  .linksContainer {
    grid-column: 1 / 3;
  }
}

@media screen and (max-width: 480px) {
  .linksContainer {
    grid-column: 1 / 5;
  }
}
