@import 'styles/_breakpoints';

.link {
  &__a {
    color: rgb(255, 255, 255);
    font-size: inherit;
    text-decoration: none;

    &:hover {
      color: rgb(103, 255, 124);
    }
  }
}

@include phone-and-tablet {
  .link {
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
