.home {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cuadro {
    min-height: 9.375rem;
    min-width: 21.25rem;
    color: rgb(255, 255, 255, 1);
    text-align: center;
    backdrop-filter: blur(0.625rem);
}

.typewriter-container {
    width: fit-content;
    margin: 0 auto;
    padding: 0 0.1875rem;
    color: rgb(255, 255, 255, 1);
    font-size: 1.5rem;
    font-weight: bold;
}

.btn-down {
    position: absolute;
    width: 5rem;
    height: 5rem;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 50%;
    bottom: 30%;
    transition: all .3s ease;
    text-decoration: none;
    font-size: 3.5rem;
    outline: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-down:hover {
    transform: scale(1.1);
    filter: invert(100%);
}


