


.big-section-content {
    padding: 0 5vw 0 5vw;
    display: grid;
    gap: 2.5rem;
    place-items:  center;
    grid-template-columns: repeat(auto-fit, minmax(min(35rem,100%), 1fr));
}

.project-card {
    width: min(21.875rem,100%);
    display: flex;
    align-items: center;
    flex-direction: column;
    backdrop-filter: blur(0.625rem);
    padding: 1.25rem 3.125rem 1.25rem 3.125rem;
    border-radius: 15%;
}

.project-image {
    width: 9.375rem;
    height: 9.375rem;
    object-fit: contain;
}

.project-name {
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    box-shadow: -0.25rem 0.25rem 0 rgb(255, 255, 255);
    width: 100%;
    margin-top: 0.625rem
}

.links-project-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
    width: 100%;
    margin-top: 1.25rem;
    place-items: center;
}

.link-btn-project {
    font-size: 1.875rem;
    color:rgb(255, 255, 255);
    background-color:rgb(0, 0, 0);
    border-radius: 50%;
    transition: all 0.5s ease;
    display: flex;
}

.link-btn-project:hover {
    transform: scale(1.3);
}
