@import 'styles/_breakpoints';

$background-color: rgb(255, 255, 255);

.modal {
  position: absolute;
  left: 50vw;
  top: 50vh;
  background-color: $background-color;
  transform: translate(-50%, -50%);
  border-radius: 5px;
}

.button {
  display: flex;
  align-content: center;
  justify-content: center;
  position: absolute;
  right: 0;
  transform: translate(50%, -50%);
  padding: 0;
  background-color: $background-color;
  border: 2px solid;
  border-radius: 50%;
  font-size: 2rem;
  color: rgb(0, 0, 0);
}

.childrenContainer {
  overflow: auto;
}

@include phone {
  .modal {
    width: 100%;
    max-height: 90%;
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    transform: none;
    border-radius: 10px 10px 0 0;
  }

  .button {
    position: static;
    border: none;
    transform: none;
    margin: 5px;
    margin-left: auto;
  }
}
