


.main {
    display: grid;
    gap: 80px;
    grid-template-columns: 1fr 1fr;
}

.main-left {
}

.main-left__h2 {

}

.main-left__p {
    text-align: justify;
    line-height: 40px;
    font-size: 1.2rem;
}

.button-cv {
    display: block;
    font-size: 1.5rem;
    margin: 0 auto;
    padding: 1rem;
    cursor: pointer;
    background-color: rgb(103, 212, 255);
    border: black 1px solid;
}

.button-cv__a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    cursor: inherit;
}



.main-right {
}

.main-right__h2 {
    text-align: center;
}



.skills-container {
    position: relative;
    padding-top: .9rem;
    display: grid;
    place-items:  center;
    gap: 3rem 6rem;
    grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
}

.skill-card {
    width: 5rem;
}

.skill-image {
    width: 100%;
    object-fit: contain;
}

.skill-name {
    font-weight: bolder;
    text-align: center;
    margin: 0;
}



@media (max-device-width: 1000px) {
    .main {
        grid-template-columns: 1fr;
    }
}