
.link-container {
    width: fit-content;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    color: rgb(255, 255, 255);
}

.links-list {
    position: sticky;
    list-style: none;
    top: 0;
    margin-top: auto;
}


.link {
    width: 100%;
    margin: 2rem 0;
    font-size: 2rem;
    text-align: center;
}

.link__a {
    width: 100%;
    position: relative;
    text-align: center;
    display: flex;
    text-decoration: none;
    color: inherit;
    transition: all ease .2s;
}

.link__a:hover {
    bottom: .2rem;
    color: rgb(0, 255, 255);
}

.vertical-line {
    width: 1px;
    height: 10rem;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
}