.skillCard {
  width: 5rem;
  position: relative;
}

.skillImageContainer {
  width: 100%;
  height: 5rem;
  position: relative;
  margin-bottom: 0.5rem;
}

.skillName {
  font-weight: bolder;
  text-align: center;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .skillCard {
    width: 5rem;
  }
  .skillName {
    font-size: 1rem;
  }
}

@media screen and (max-width: 480px) {
  .skillCard {
    width: 4rem;
  }
  .skillName {
    font-size: 0.8rem;
  }
}
