@import 'bastianparedes/styles/_breakpoints';

.imageContainer,
.image {
  grid-column: 1 / 8;
}

.projectName {
  grid-column: 8 / -1;
  text-align: right;
}

.projectDescriptionContainer {
  grid-column: 5 / -1;
}

.projectTechnologies {
  grid-column: 8 / -1;
  text-align: right;
}

.linksContainer {
  grid-column: 11 / -1;
  direction: rtl;
}

@include phone-and-tablet {
  .linksContainer {
    grid-column: 11 / -1;
  }
}

@include phone {
  .linksContainer {
    grid-column: 9 / -1;
  }
}
