@import 'bastianparedes/styles/_breakpoints';

.home {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(rgb(0, 0, 94), rgb(0, 0, 0));
}

.cuadro {
  color: rgb(255, 255, 255);
  text-align: center;
  backdrop-filter: blur(0.625rem);
  user-select: none;
}

.myName {
  font-size: 6rem;
  margin: 1rem auto;
}

.typewriterContainer {
  width: fit-content;
  margin: 0 auto 1rem auto;
  padding: 0 0.1875rem;
  color: rgb(255, 255, 255, 1);
  font-size: 3rem;
  font-weight: bold;
}

.btnDown {
  position: relative;
  width: 5rem;
  height: 5rem;
  margin-top: 1rem;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-radius: 50%;
  transition: all 0.3s ease;
  text-decoration: none;
  font-size: 3.5rem;
  outline: inherit;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    transform: scale(1.1);
    background-color: #5196fd;
    color: rgb(255, 255, 255);
  }
}

@include phone-and-tablet {
  .myName {
    font-size: 5rem;
  }
  .typewriterContainer {
    font-size: 2rem;
  }
}

@include phone {
  .myName {
    font-size: 4rem;
  }
  .typewriterContainer {
    font-size: 2.5rem;
  }
  .btnDown {
    width: 3rem;
    height: 3rem;
  }
}
