// breakpoints
$min-width-phone: 0;
$max-width-phone: 467px;

$min-width-tablet: 468px;
$max-width-tablet: 1023px;

$min-width-desktop: 1024px;

// z-index
$z-index-navigation: 700;
$z-index-tooltip: 800;
$z-index-modal: 900;
$z-index-shadow: 1000;
